.expansion-panel {
  width: 400px;
}

.expansion-summary {
  text-align: center;
  h3 {
    font-size: 1.5rem;
  }
}

.expansion-details {
  display: flex;
  flex-direction: column;
  p {
    margin-top: 15px;
  }
}

.contact, .contact-edit-form {
  margin: 10px 0;
  box-shadow: 5px 5px 5px 5px #C9BFC0;
}

.contact, .contact-card, .contact-edit-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-btn-div {
  display: flex;
  margin-top: 30px;
}

.delete-btn, .edit-btn {
  margin-left: 10px;
  width: 460px;
}

.contact-edit-form {
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 20px 0;
  background-color: white;
}

.edit-div {
  display: flex;
  margin-bottom: 30px;
  justify-content: flex-end;
  input {
    margin-left: 10px;
    padding-left: 3px;
  }
}

.save-btn {
  width: 160px;
}

.card-btn {
  height: 35px;
  font-size: .9rem;
  padding: 5px 9px;
}

